@import "tailwindcss";


/* Custom gradient animation */
@keyframes gradient-colors {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@layer utilities {
  /* Animated gradient text */
  .animate-gradient-colors {
    animation: gradient-colors 5s ease infinite;
  }

  /* Glow for text */
  .text-glow {
    text-shadow: 
      0 0 10px rgba(230, 73, 15, 0.8),
      0 0 20px rgba(152, 51, 26, 0.6),
      0 0 30px rgba(98, 55, 23, 0.4);
  }
}